@charset "UTF-8";
/* --------------------------------------------------------
    ベース設定
  -------------------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

html {
  font-size: 10px;
}

body {
  color: #333;
  font-weight: normal;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  line-height: 1;
  background-color: white;
  overflow-x: hidden;
  letter-spacing: 0.05em;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 769px) {
  .pc {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.container {
  display: block;
  width: 100%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

/*共通パーツ
--------------------------------------------------------*/
.section_title {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 12px;
  margin-bottom: 70px;
  border-bottom: 5px solid #F2632D;
}

@media screen and (max-width: 768px) {
  .section_title {
    font-size: 30px;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}

.btn {
  margin-top: 34px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 140px;
  text-align: center;
  color: #F2632D;
  border: 3px solid #F2632D;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .btn {
    margin-top: 30px;
  }
}

/*各セクション
--------------------------------------------------------*/
.header {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 88px;
  }
}

.header_inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header_inner {
    flex-direction: column;
    height: 88px;
  }
}

@media screen and (max-width: 768px) {
  .header_logo {
    margin-top: 8px;
    width: 180px;
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .header_nav {
    width: 100%;
    padding-bottom: 11px;
  }
}

.header_list {
  width: 218px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header_list {
    width: 213px;
    margin: 0 auto;
  }
}

.header_item {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
}

.header_item a {
  color: #333;
}

@media screen and (max-width: 768px) {
  .header_item {
    font-size: 16px;
  }
}

/*mv
--------------------------------------------------------*/
.mv {
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1281px) {
  .mv {
    width: 100vw;
    max-width: 2000px;
    height: 46.8vw;
    max-height: 936px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .mv {
    height: 46.8vw;
  }
}

@media screen and (max-width: 768px) {
  .mv {
    background-position: center;
    height: 96vw;
  }
}

.menu .container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 0;
}

@media screen and (max-width: 1024) {
  .menu .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .menu .container {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 0px;
  }
}

.menu_list {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .menu_list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu_list {
    flex-direction: column;
    align-items: center;
  }
}

.menu_item {
  width: 25.5%;
  max-width: 220px;
}

@media screen and (max-width: 768px) {
  .menu_item {
    width: 57.9%;
    max-width: 100%;
  }
  .menu_item img {
    width: 100%;
  }
  .menu_item:nth-child(n+2) {
    padding-top: 50px;
  }
}

.menu_item-title {
  font-size: 32px;
  line-height: 1;
  padding-top: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .menu_item-title {
    font-style: 28px;
    padding-top: 11px;
  }
}

.menu_item-desc {
  font-size: 20px;
  line-height: 1;
  padding-top: 23px;
}

@media screen and (max-width: 768px) {
  .menu_item-desc {
    font-size: 16px;
    padding-top: 11px;
  }
}

.about .container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .about .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about .container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.about_box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .about_box {
    flex-direction: column;
  }
}

.about_box-left {
  width: 100%;
  max-width: 405px;
  text-align: left;
  letter-spacing: 0;
}

@media screen and (max-width: 1024px) {
  .about_box-left {
    max-width: 100%;
    text-align: center;
  }
}

.about_box-left h3 {
  margin-top: -11px;
  font-size: 32px;
  font-weight: bold;
  line-height: 54px;
  color: #555555;
}

@media screen and (max-width: 768px) {
  .about_box-left h3 {
    font-size: 26px;
    line-height: 44px;
  }
}

.about_box-left p {
  font-size: 22px;
  line-height: 37px;
  padding-top: 12px;
}

@media screen and (max-width: 768px) {
  .about_box-left p {
    font-size: 16px;
    line-height: 27px;
  }
}

.about_box-right {
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 1024px) {
  .about_box-right {
    max-width: 100%;
    padding-top: 50px;
  }
  .about_box-right img {
    width: 100%;
  }
}

.copy {
  font-size: 12px;
  background-color: #D5D5D5;
  color: #FFFFFF;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
